{% extends "base.html" %}
{% load static %}
{% block content %}
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="/home/">Home</a></li>
                        <li class="active"><a href="/map_info/">About Cafe Map</a></li>
                        <li><a href="/cafe_list/">Cafe List</a></li>
                        <li><a href="/cafe_map/">Cafe Map</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
	</header><!--/header-->

    <img src="{% static 'images/cafemapmain.jpg' %}" style="margin-left: auto; margin-right: auto; display: block;">

{% endblock %}
